page-home {
    text-align: center;
}

.carte{
    position: absolute;
    top: 25%;
    height: 50%;
}

.circle{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.textcarte{
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}